<div class="note">

  <div class="note-title">
    <div class="note-meta">
      <%= link to: referer(@conn), class: "left back" do %>
        <i class="icon-left"></i> Back
      <% end %>
      <span class="time right"><%= simple_time(@note.published_at) %></span>
      <span class="title"> <%= @note.title %> </span>
    </div>
  </div>

  <div class="note-content">
    <%= raw @note.html %>
  </div>
</div>
