<div class="note">
  <div class="note-meta">
    <%= link "Back", to: referer(@conn), class: "left" %>
    <span class="time right"><%= simple_time(@note.published_at) %></span>
  </div>

  <div class="note-title">
    <span> <%= @note.title %> </span>
  </div>

  <div class="note-content">
    <%= raw @note.html %>
  </div>
</div>
