<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="sysashi personal webpage">
    <meta name="author" content="sysashi">

    <title><%= title(@conn, "sysashi") || "sysashi's website" %></title>

    <%= unless Mix.env == :dev do %>
    <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
    <%= end %>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <main role="main" id="main-layout">

        <div class="sticky-wrapper">
          <%= render "header.html", assigns %>
          <div class="content" role="content">
            <%= render @view_module, @view_template, assigns %>
          </div>
        </div>

        <%= render "footer.html", assigns %>
      </main>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
