<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="sysashi personal webpage">
    <meta name="author" content="sysashi">

    <title><%= title(@conn, "sysashi") || "sysashi's website" %></title>

    <%= unless Mix.env == :dev do %>
    <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
    <%= end %>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <main role="main" id="main-layout">
        <div class="sticky-wrapper">
          <header class="header" role="menu">
            <nav class="nav" id="main-nav" role="navigation">
              <ul>
                <%= for {name, p} <- menu do %>
                  <li><%= link(to_string(name), to: p, 
                   class: active?(@conn, p)) %></li>
                <% end %>
              </ul>
            </nav>
          </header>
          <div class="content" role="content">
            <%= render @view_module, @view_template, assigns %>
          </div>
        </div>
        <footer class="footer">
          <div class="inside-wrapper">
            <div><span><a href="/about-site">about this site</a></span></div>
            <div><span>today: 75 | currently: 17 <span></div>
            <div><span>copypaste (c) 2016<span></div>
          </div>
        </footer>
      </main>

      <!-- <div id="pipe_canvas" class="cvs" role="canvas">
      </div> -->

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
