<footer class="footer">
  <div>
    <span><%= link("about this site", to: "/about-site",
     class: active?(@conn, "about-site")) %></span>
  </div>
  <div><a href="#"> send direct message</a></div>
  <div><span>copypaste (c) 2016</span></div>
</footer>
