p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

a {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px solid  #e4cece;
    font-style: italic;

    &:hover {
        border-color: #da5d5d;
    }

    &:visited {
        color: color(var(--link-color) blackness(50%));
    }

    &.back {
        border: none;
        &:hover {
            color: color(var(--link-color) shade(50%));
        }
    }
}
.section-title {
    font-size: 1.2em;
    margin: 20px 0;
    &.small {
        font-size: 1.05em;
    }
    &.big {
        font-size: 1.4em;
    }
}
.archive-month {
    margin-left: 20px;
}
.center-picture > img {
    margin: 0 auto;
}
.my-photo > img {
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 100%;
}
.rect {
    border-radius: 3px;
}

.center-layout {
    width: var(--layout-width);
    margin: 0 auto;
}

.tooltip {
  color: #900;
  text-decoration: none;
}
.tooltip:hover {
  color: red;
  position: relative;
  cursor: pointer;
}
/* Tooltip on Top */
.tooltip-top[data-tooltip]:hover:after {
  content: attr(data-tooltip);
  border-radius: 3px;
  border: 1px solid #aaa;
  padding: 4px 8px;
  position: absolute;
  left: 0;
  bottom: 100%;
  white-space: nowrap;
  z-index: 20px;
  background-color: #ddd;
  color: #333;
}
