/* Projects */
.projects-grid {
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    & .project-card {
        lost-waffle: 1/3;
        @media (--small-screen) {
            lost-waffle: 1/2;
        } 
    }
}

.projects-grid 
.project-card 
.project-info {
    border: 1px solid var(--color-green);
    color: #444;
    background: #fff;

    & .name {
        text-align: center;
        font-size: 1.1em;
        color: #fff;
        font-weight: bold;
        /* background: #7595a1cc; */
        background: color(var(--color-green) tint(10%));
        padding: 10px;
        border-bottom: 1px solid color(var(--color-green) shade(20%));
    }

    & .desc {
        color: #3D3D5D;
        padding: 10px;
    }

    & .links {
        padding: 10px;
        overflow: hidden;
        border-top: 2px dashed #888;
    }

    & .links a {
        display: inline-block;
        color: #333;  
        border: none;
        border-radius: 2px;
        background: #ddd;
        padding: 2px 4px;
        margin-top: 5px;

        &:hover, &:focus {
            transition-duration: 0.3s;
            background: #333;
            color: #ddd;
        }
    }

    & > div {
        margin-bottom: 5px;
    }
}

.projects-grid 
.project-card:hover {
    box-shadow: 0px 0px 10px #ddd;
}

.projects-grid 
.project-card
.project-info:hover {
    & .links {
        transition-duration: 0.3s;
        border-color: #666;
    }
}

.projects {
}
.projects
.project-preview {
    display: inline;
    
    & .name {
        font-size: 1rem;
    }

    & .desc {
        font-size: 0.9rem;
        color: #666;
        margin-top: 5px;
        font-style: italic;
    }
    & .links {
        font-size: 15px;
        text-align: right;
    }
}
/* /Projects */
