<div class="projects">
  <div class="link-list">
    <h2>Projects I'm involved with or currently working on</h2>
    <ul>
      <%= for project <- @projects do %>
        <div class="note-preview">
          <li>
            <%= link "#{project.name}", 
            to: project_path(@conn, :show, project) %>
            <span> <%= project.desc %> </span>
          </li>
        </div>
      <% end %>
    </ul>
  </div>
</div>

