<div class="link-list projects">
  <ul>
    <% available_link_classes = ~w(github gitlab) %> 
    <%= for project <- @projects do %>
        <li>
          <div class="project-preview">
            <span class="name"> <%= project.name %> </span>
            <span class="desc">- (<%= project.desc %>)</span>
        </div>
        </li>
    <% end %>
  </ul>
</div>
