@lost flexbox flex;

:root {
    --main-menu-item: #685782;
    --layout-width: 700px;
    --text-color: #54353b;
    --link-color: #425bd6;
    --header-height: 100px;
    --footer-height: 100px;
    --utility-bg-c: #f6f4ff;
    --utility-border-c: #f3cccc;
    --utility-border: 1px solid var(--utility-border-c);

    --centered-layout: {
        margin: 0 auto;
        width: var(--layout-width;)
    }
}


@custom-media --large-screen (width > 1200px);
@custom-media --medium-screen (width <= 1200px);
@custom-media --small-screen (width < 500px);

@custom-selector :--headings h1, h2, h3, h4, h5, h6;
@custom-selector :--icons [class^="icon-"], [class*=" icon-"];

:--headings {
    font-family: Tahoma, Geneva, sans-serif;
    color: color(var(--text-color) blackness(+ 20%));
}

html {
    color: var(--text-color);
    font-size: 1.1rem;
}

body {
    font-family: "WorkSans", sans-serif;
    font-weight: 400;
    line-height: 1.45;
}




