<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Oops! Error</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>
<body>
  <div class="flex-wrapper">
    <div class="error-wrapper">
      <div class="status"><%= @status %></div>
      <div class="message"><%= @message %></div>
      <div class="back"><%= link("Return me back!", to: referer(@conn)) %></div>
    </div>
  </div>
</body>
</html>
