<div id="home">
  <div class="mrn">
    <div class="section-title">Recent notes:</div>
    <%= render Pers.NoteView, "list.html", [notes: @recent_notes, conn: @conn] %>
  </div>
  <div class="rect mrp">
    <div class="section-title">Projects:</div>
    <%= render Pers.ProjectView, "grid.html", projects: @recent_projects %>
  </div>
</div>
